---
title: Home
layout: default
---

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Xbox')">Xbox One</button>
  <button class="tablinks" onclick="openCity(event, 'PS4')">PS4</button>
  <button class="tablinks" onclick="openCity(event, 'PC')">PC</button>
</div>

<div id="Xbox" class="tabcontent">
   {% for post in site.xbox-one-patches %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>

    {% endfor %}
</div>

<div id="PS4" class="tabcontent">
   {% for post in site.ps4-patches %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>
    {% endfor %}
</div>

<div id="PC" class="tabcontent">
{% for post in site.pc-patches %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>

    {% endfor %}
</div>



<h3>Known Bugs</h3>

  {% for post in site.know-bugs %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>

    {% endfor %}


<h3>Future Releases</h3>

  {% for post in site.future-releases %}
            <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span><br /><img src="{{ post.image }}" /></li>
        </ul>

    {% endfor %}


