---
title: Home
layout: default
---

<script>document.body.className += ' fade-out';</script>
        
        <!-- banner area start here-->
        <div class="banner">
            <div class="container">
                <div class="banner-text">
                    <h1>We&#8217;re Going <span class="breakhidemob"><br></span>to PAX</h1>
                </div>
            </div>
        </div>
        <!-- banner area end here-->
        <!--post section start here-->
        <div class="post-section cf">
            <div class="col col-4 no-padding">
                <div class="post-area">
                    <div class="post-img">
                        <img src="images/image-1.jpg" alt=" " />
                    </div>
                    <div class="post-text">
                        <span> July 31</span>
                        <h3>Spring Break 1984 <br>
                   Clothing Pack</h3>
                    </div>
                </div>
            </div>
            <div class="col col-4 no-padding">
                <div class="post-area midbox">
                    <div class="post-img">
                        <img src="images/image-2.jpg" alt=" " />
                    </div>
                    <div class="post-text">
                        <span>Aug 4</span>
                        <h3>New Playable Maps<br>
                   "Jarvis House"</h3>
                    </div>
                </div>
            </div>
            <div class="col col-4 no-padding">
                <div class="post-area">
                    <div class="post-img">
                        <img src="images/image-3.jpg" alt=" " />
                    </div>
                    <div class="post-text">
                        <span>July 31</span>
                        <h3>Spring Break 1984 <br>
                   Clothing Pack</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--post section start here-->
        <!-- fix section start here-->
        <div id="fixes"></div>
            <div class="section sec-fix" id="fix">
            <div class="container cf">
                <h2>Fixes</h2>
                <div class="row">
                    <div class="col-2 col">
                        <div class="fix-area">
                            <div class="fix-icon">
                                <img src="images/fix-img.png" width="72" height="72" alt=" " />
                            </div>
                            <div class="bug-description">
                                <div id="horizontalTab">
                                    <ul class="tabs">
                                        <li class="tab-link current" data-tab="tab-1">XBOX ONE</li>
                                        <li class="tab-link" data-tab="tab-2">PS4</li>
                                        <li class="tab-link" data-tab="tab-3">PC</li>
                                    </ul>
                                    <div class="resp-tabs-container">
                                        <div id="tab-1" class="tab-content current">
                                            <h3>XBOX ONE Squished Bugs</h3>
                                            <ul class="list-style">
                                            {% for post in site.xbox-one-patches limit:5 %}
                                                <li>{{ post.title }}</li>
					    {% endfor %}
                                            </ul>
                                            <div class="cta">
                                                <a href="/xbox-one-patches" class="btn" title="Read all">Read all</a>
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-content">
                                        <h3>PS4 Squished Bugs</h3>
                                            <ul class="list-style">
                                            {% for post in site.ps4-patches limit:5 %}
                                                <li>{{ post.title }}</li>
					    {% endfor %}
                                            </ul>
                                            <div class="cta">
                                                <a href="/ps4-patches" class="btn" title="Read all">Read all</a>
                                            </div>
                                        </div>
                                        <div id="tab-3" class="tab-content">
                                        <h3>PC Squished Bugs</h3>
                                            <ul class="list-style">
                                            {% for post in site.pc-patches limit:5 %}
                                                <li>{{ post.title }}</li>
					    {% endfor %}
                                            </ul>
                                            <div class="cta">
                                                <a href="/pc-patches" class="btn" title="Read all">Read all</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col">
                        <div class="fix-area">
                            <div class="fix-icon alert">
                                <img src="images/alert-img.png" width="72" height="72" alt=" " />
                            </div>
                            <div class="fix-description alert-description">
                                <h3>Known Issues</h3>
                                <ul class="list-style">
                                            {% for post in site.know-bugs limit:5 %}
                                                <li>{{ post.title }}</li>
					    {% endfor %}
                                </ul>
                                <a href="/known-bugs" class="btn" title="Read all">Read all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fix section end here-->
        <!-- fix section start here-->
    <div id="upcoming"></div>
        <div class="section sec-upcoming">
            <div class="container">
                <h2>Upcoming</h2>
                <div class="upcoming-row">
                    <div class="heading-area">
                        <h2>JUL</h2>
                    </div>
                    <div class="upcoming-area cf">
                        <div class="row">
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img1.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">Spring Break 1984 <br>
                                                Clothing Pack</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img2.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">Five New <br>
                                                Counselors</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img3.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">Three Smaller <br>
                                                Versions of Maps</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="upcoming-row">
                    <div class="heading-area">
                        <h2>AUG</h2>
                    </div>
                    <div class="upcoming-area cf">
                        <div class="row">
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img4.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">Lingerie and <br>
                                                Pajamas <br>
                                                Clothing Pack</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img5.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">New Playable Maps<br>
                                                "Jarvis House"</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-4">
                                <div class="upcoming-post">
                                    <figure>
                                        <img src="images/upcoming-img6.jpg" alt=" " />
                                    </figure>
                                    <div class="overlay">
                                        <div class="overlay-desc">
                                            <h3><a href="#">New Playable Jason<br>
                                                from Part 4</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--upcoming section end here-->

        <!-- released section start here -->
    <div id="released"></div>
        <div class="section sec-released">
            <div class="container">
                <h2>Released</h2>
                <div class="select-area cf">
                    <select class="selectbox">
                        <option value="">Recent</option>
                        <option value="XBOX">XBOX ONE Patch Notes </option>
                        <option value="PS4">PS4 Patch Notes</option>
                        <option value="PC">PC Patch Notes</option>
                        <option value="DLC">DLC</option>
                    </select>
                </div>
                <div class="released-post cf">
                    <div class="row">
                       
			    
			    
			   
			    
			    {% for post in site.released limit:5 %}
			    <div class="col-4 col">
                            <div class="post-block" onclick="javascript:location.href='{{ post.url }}'">
                                <div class="block-area">

                                </div>
                                <div class="block-overlay">
                                    <div class="overlay-desc">
                                        <h3><a href="#">{{ post.title }}</a></h3>
                                        <span>{{ post.date | date: "%-m.%-d.%y" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
			    
			    
			     {% for post in site.released-packs limit:5 %}
			     <div class="col-4 col">
                            <div class="post-block post-img-block" onclick="javascript:location.href='{{ post.url }}'">
                                <div class="block-area ">
                                    <div class="block-img" style="background-image:url(images/release-img2.jpg)"></div>

                                </div>
                                <div class="block-overlay">
                                    <div class="overlay-desc">
                                        <h3><a href="#">{{ post.title }}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
			    
			    
			  
			        {% for doc in site.documents %}
			    
			    
			    
		
			    
			  <div class="col-4 col">
                            <div class="post-block{% if doc.collection == 'released-packs' %} post-img-block{% endif %}" onclick="javascript:location.href='{{ doc.url }}'">
                                <div class="block-area">
 				{% if doc.collection == "released-packs" %}<div class="block-img" style="background-image:url({{ doc.image }})"></div>{% endif %}
                                </div>
                                <div class="block-overlay">
                                    <div class="overlay-desc">
                                        <h3><a href="#">{{ doc.title }}</a></h3>
                                        <span>{{ doc.date | date: "%-m.%-d.%y" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
			  
		
			
                       {% endfor %} 

			      
			
            
			    
			    
			 
                    </div> 
                </div>
            </div>
        </div>
        <div class="preload"><img src="images/menu-overlay.jpg" alt="" /><img src="images/banner.jpg" alt="" /></div>
        <!--released section end here-->

