---
title: Home
layout: default
---

<br /><br />

<div style="width:45%;float:left;padding-right:45px;">
<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'Xbox')">Xbox One</button>
  <button class="tablinks" onclick="openCity(event, 'PS4')">PS4</button>
  <button class="tablinks" onclick="openCity(event, 'PC')">PC</button>
</div>

<div id="Xbox" class="tabcontent" style="display:block;">
   {% for post in site.xbox-one-patches limit:5 %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>

    {% endfor %}
  <p><a href="/xbox-one-patches">Read Full List</a></p>
</div>

<div id="PS4" class="tabcontent">
   {% for post in site.ps4-patches limit:5 %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>
    {% endfor %}
  <p><a href="/ps4-patches">Read Full List</a></p>
</div>

<div id="PC" class="tabcontent">
{% for post in site.pc-patches limit:5 %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>
    {% endfor %}
  <p><a href="/pc-patches">Read Full List</a></p>
</div>
</div>


<div style="width:45%;float:left;">
<h3>Known Bugs</h3>

  {% for post in site.know-bugs limit:5 %}
        <ul>
          <li><span style="font-size: 15px;">{{ post.title }}</span></li>
        </ul>

    {% endfor %}
  <p><a href="/known-bugs">Read Full List</a></p>
  
</div>

<div style="clear:both;"></div>

<div style="margin-top:40px;margin-bottom:40px;">
<hr />
</div>

<center><h2>Future Releases</h2></center>

  {% for post in site.future-releases %}
            <ul>
          <li style="width:45%;float:left;padding-right:40px;"><span style="font-size: 15px;">{{ post.title }}</span><br /><br /><img style="width:100%;height:auto;" src="{{ post.image }}" /></li>
        </ul>

    {% endfor %}

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<br /><br />

