
      <!--footer start here-->
        <footer class="footer">

        </footer>
        <!--footer end here-->
    </div>
    <script src="{{site.baseurl}}/js/jquery.min.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/plugin.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/jquery.selectbox-0.2.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/general.js" type="application/x-javascript"></script>
    <script>
	$(function() {
setTimeout(func, 500);
function func() {
      $('body').removeClass('fade-out');
}

	});
    </script>
</body>

</html>    
