<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- To support IE standards -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <title>Friday the 13th The Game</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/plugin.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css" />
</head>

<body>
    <div class="wrapper">

        <!-- Header start here-->
        <header id="header">
            <div class="main-header">
                <div class="header-container cf">
                    <a href="/" class="logo" title="Friday the 13th Game"><img src="{{site.baseurl}}/images/logo.png" width="127" height="60" alt="Friday the 13th Game" /></a>
                    
                    <!-- Desktop Menu Start-->
                    <nav class="main-nav desktopmenu">
                        <ul>
                            <li><a href="/#fixes" title="FIXES">FIXES</a></li>
                            <li><a href="/#upcoming" title="UPCOMING">UPCOMING</a></li>
                            <li><a href="/#released" title="RELEASED">RELEASED</a></li>
                            <li><a href="http://sitepreview.online/jason-kills-bugs" title="REPORT BUG" class="btn">REPORT BUG</a></li>
                        </ul>
                    </nav>
                    <!-- Desktop Menu End-->
                    
                    <!-- Mobile Menu Start-->
                    <nav class="main-nav enumenu_ul">
                        <ul>
                            <li><a href="/#fixes" title="FIXES">FIXES</a></li>
                            <li><a href="/#upcoming" title="UPCOMING">UPCOMING</a></li>
                            <li><a href="/#released" title="RELEASED">RELEASED</a></li>
                            <li><a href="http://sitepreview.online/jason-kills-bugs" title="REPORT BUG" class="btn">REPORT BUG</a></li>
                        </ul>
                    </nav>
                    <!-- Mobile Menu End-->

                </div>
            </div>
        </header>
        <!-- Header end here-->
