<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- To support IE standards -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <title>Friday the 13th The Game</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/plugin.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css" />
</head>

<body>
<script>document.body.className += ' fade-out';</script>
    <div class="wrapper">

        <!-- Header start here-->
        <header id="header">
            <div class="main-header">
                <div class="header-container cf">
                    <a href="/" class="logo" title="Friday the 13th Game"><img src="{{site.baseurl}}/images/logo.png" width="127" height="60" alt="Friday the 13th Game" /></a>
                    
                    <!-- Desktop Menu Start-->
                    <nav class="main-nav desktopmenu">
                        <ul>
                            <li><a href="#fixes" title="FIXES">FIXES</a></li>
                            <li><a href="#upcoming" title="UPCOMING">UPCOMING</a></li>
                            <li><a href="#released" title="RELEASED">RELEASED</a></li>
                            <li><a href="http://sitepreview.online/jason-kills-bugs" title="REPORT BUG" class="btn">REPORT BUG</a></li>
                        </ul>
                    </nav>
                    <!-- Desktop Menu End-->
                    
                    <!-- Mobile Menu Start-->
                    <nav class="main-nav enumenu_ul">
                        <ul>
                            <li><a href="#fixes" title="FIXES">FIXES</a></li>
                            <li><a href="#upcoming" title="UPCOMING">UPCOMING</a></li>
                            <li><a href="#released" title="RELEASED">RELEASED</a></li>
                            <li><a href="http://sitepreview.online/jason-kills-bugs" title="REPORT BUG" class="btn">REPORT BUG</a></li>
                        </ul>
                    </nav>
                    <!-- Mobile Menu End-->

                </div>
            </div>
        </header>
        <!-- Header end here-->


  <!-- fix section start here-->
        <div class="section sec-fix contentpg" id="fix">
            <div class="container cf">
                <h2>Squished Bugs<br />XBOX ONE</h2>
                <div class="row" style="margin:0 auto;">
                    <div class="col-1 col contentpgcol">
                        <div class="fix-area">
                            <div class="fix-description alert-description contentpgbox">
                                <ul class="list-style">
                                    {% for post in site.xbox-one-patches %}
                                    <li>{{ post.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fix section end here-->
        
        <div class="preload"><img src="images/menu-overlay.jpg" alt="" /></div>
        <!--released section end here-->
        
        
      <!--footer start here-->
        <footer class="footer">

        </footer>
        <!--footer end here-->
    </div>
    <script src="{{site.baseurl}}/js/jquery.min.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/plugin.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/jquery.selectbox-0.2.js" type="application/x-javascript"></script>
    <script src="{{site.baseurl}}/js/general.js" type="application/x-javascript"></script>
    <script>
	$(function() {
setTimeout(func, 500);
function func() {
      $('body').removeClass('fade-out');
}

	});
    </script>
</body>

</html>    
