{% include header.html %}

  <!-- fix section start here-->
        <div class="section sec-fix contentpg" id="fix">
            <div class="container cf">
                <h2>Squished Bugs<br />XBOX ONE</h2>
                <div class="row" style="margin:0 auto;">
                    <div class="col-1 col contentpgcol">
                        <div class="fix-area">
                            <div class="fix-description alert-description contentpgbox">
                                <ul class="list-style">
                                    {% for post in site.xbox-one-patches %}
                                    <li>{{ post.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fix section end here-->
        
        <div class="preload"><img src="images/menu-overlay.jpg" alt="" /></div>
        <!--released section end here-->
        
       {% include footer.html %}
